/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

/***
ROOT 
****/
:root {
--main-color:#d0a35d;
--dark-color:#0d272d;
--white-color:#ffffff;

}


body{
  position: relative;
  font-family: barlow condensed;
  position: relative;
}








/******
HEADER
******/

header {
  position: absolute;
  top: 0em;
  right: 0em;
  left: 0em;
  height: 412px;
  padding: 0 0 25px;
  margin: 0 0 50px;
  
}

header img.logo {

  max-width: 50px;
  height: 50px;
  z-index: 100;

  padding: 0;

  margin: 0 auto;
}


header img {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 675px;
  object-fit: cover;
  margin: 0;
  padding: 50px 0 0;

  }

h1 {
  font-size: 48px;
  margin: 200px 0 0;
  padding: 33px;
  align-items: center;
  text-align: center;
  color:var(--white-color);
  }

  header p {
    align-items: center;
    text-align: center;
  }

section:nth-of-type(2){
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  } 
  
  section:nth-of-type(2) a {
  background-color:var(--main-color);
    
  color:var(--white-color);
  text-decoration: none;
  font-size: 16px;
  width:80px;
  height:25px;
  margin: 12.8px;
    
  text-align: center;
  }

header a:nth-of-type(2) {
  background-color:var(--white-color);
  color:var(--dark-color);
}










/***
MAIN
****/
main {
  position: absolute;
  left:0em;
  right:0em;
  top:30em;
  background-color:var(--dark-color);
  padding: 50px 33px;
  margin: 300px 0 ;


  
}

h2 {
  color:var(--white-color);
  display: flex;
  justify-content: center;

  font-size: 36px;
  }


h3 {
color:var(--white-color);
  display: flex;
  justify-content: center;

  font-size: 30px;
}

h4 {
color:var(--main-color);
}

p {
color:var(--white-color);
font-size: 13px;
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding:33px 0 0;
  }


div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color:var(--white-color);
  }
  
div img {
  width: 100%;
  }
  
div h2 {
 color:var(--dark-color);
  }
  
ul {
  list-style:none;
  margin: 0;
  padding: 80px 30px 65px;
  }
  

li > p {
  color:var(--dark-color);
  }
img.menukaart {
  width: 50%;

}

a {
  background-color:var(--main-color);
    
  color:var(--white-color);
  text-decoration: none;
  font-size: 16px;
  width:80px;
  height:25px;
  margin: 12.8px;

  text-align: center;
}






/*****
FOOTER
******/


footer {
  position: absolute;
  left:0em;
  right:0em;
  top: 5200px;

  padding: 0 33px;
 


}

H5 {
  color:var(--main-color);
}

footer h2 {
  color:var(--dark-color);
  display: flex;
  justify-content: left;
}
footer p {
  color:var(--dark-color);
}






















