/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

/****************************************************************************************************************************************
Root
*****************************************************************************************************************************************/
:root {
--main-color:#d0a35d;
--dark-color:#0d272d;
--white-color:#ffffff;

}


body{
  position: relative;
  font-family: barlow condensed, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif , Arial, Helvetica, sans-serif;
  position: relative;
  margin: 0;
}





/****************************************************************************************************************************************
HEADER
*****************************************************************************************************************************************/

header {
  height: 412px;

  padding: 0 0 25px;
  margin: 0 0 50px;
}

/**********************************************************************
logo 
***********************************************************************/
  section:first-of-type a  {
    position:fixed;
    padding: 30px 100%;
    background-color:var(--white-color);
    z-index: 10000;
    padding: 0;
  }

  section:first-of-type a img {
  position:fixed;
  right: 40%;
  left: 40%;
 

  max-width: 50px;
  height: 50px;
 
  padding: 0;
  margin: 0 auto;

  background-color:var(--white-color);
  

  z-index: 10001;
  }

header img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  width: 100%;
  height: 675px;
  object-fit: cover;

  margin: 0;
  padding: 50px 0 0;

  z-index: -1;
  }








/**********************************************************************
navigatie
***********************************************************************/
  nav button {
    position: fixed;
    top:5px;
    right:5px;

    width:100px;
    height:40px;

    background-color:var(--main-color);
    color:var(--white-color);

    appearance:none;  
    border:none;

    z-index: 5000;
  }

  nav ul {
    position: fixed;
    top:0;
    bottom:0;
    right:0;
    left:30%;

    background-color:var(--dark-color) ;

    transform: translateX(110%);
    transition: 1s;  
    transition-timing-function: cubic-bezier(.19,.85,.65,-0.38);
    
    z-index:4000;
  }

  nav input {
    width: 100%;
    margin: 0 0 20px 0;
    padding: 10px ;

    border-radius: 10px;
    border-width: 7px;
    border-color:var(--main-color);
    border-style:ridge;
  }


  nav li a{
    display: flex;
    justify-content: center;
    align-items: left;
    line-height: 2em;
    font-weight: bold;
    height: 40px;
    
    width: auto;
    margin: 60px 0 20px; 
    color:var(--white-color); 
    background-color:var(--main-color) ;

    text-decoration: none;
    text-align: left;
  }

nav li + li a {
  margin:  0; 
  color:var(--white-color); 
  background-color:var(--dark-color) ; 
  color:#A6A6A6;

  justify-content: left;
  
  } 

nav li a:hover {
  color:var(--white);
  }
 
nav li:hover{
  color:var(--white-color) ;
  }


nav button::before {
  content:"\2630 "; /* hamburger */
  display:inline-flex;
  justify-content:center;
  align-items:center;
  width:20px;
  height:20px;

  transform:scale(.75);
  }

  
nav.toonMenu ul {
  transform:translatex(0);    
  }

  /* code van Sanne via codepen -> https://codepen.io/alanaeastman/pen/VwWVdmG */
  













/**********************************************************************
tekst header
***********************************************************************/

h1 {
  position: absolute;
  top: 5%;
  right:10%;
  left:10%;

  font-size: 48px;
  padding: 60px 0;
  margin: 0;

  color:var(--white-color);
  
  align-items: center;
  text-align: center;

  animation-name: h1-animatie; 
  animation-duration: 4s; 
  }

  @keyframes h1-animatie {
    0%{
      opacity: 0;
      transform:translatey(100%);
    }

    30%{
      opacity: 1;
    }
    50%{
      transform: translatey(-50%);
    }
  
    100%{
      transform:translatey(0);
      opacity: 1;
    }
  }
  
/* animatie met hulp van sannes code via codepen -> https://codepen.io/shooft/pen/ExXvOmx?editors=1100 en https://codepen.io/shooft/pen/zYzdMwO?editors=1100 */
header p {
  position: absolute;
  top:380px;
  right:120px;
  left: 120px;

  font-size: 16px;

  color:var(--white-color);

  animation-name: pHeader-animatie; 
  animation-duration: 4s;

  }

  @keyframes pHeader-animatie {
    0%{
      opacity: 0;
      transform: translateX(100%);
    }

    30%{
      opacity: 1;
    }
    50%{
      transform: translatey(0);
    }
  
    100%{
      opacity: 1;
    }
  }


section:first-of-type{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row; 
  } 

  

 
  

































/****************************************************************************************************************************************
Main
*****************************************************************************************************************************************/
main {
  background-color:var(--dark-color);
  padding: 50px 33px;
  margin: 400px 0 0;
  }

audio::-webkit-media-controls-enclosure {
  position: absolute;
  border-radius: 10px;
  border-style: ridge;
  border-width: 5px;
  border-color:var(--dark-color) ;
  background-color:var(--main-color)
  }

/* https://stackoverflow.com/questions/4126708/is-it-possible-to-style-html5-audio-tag */

main audio + p:first-of-type {
  background-color:var(--white-color);
  color:var(--dark-color) ;

  padding: 10px;
  width: 300px;
  margin: 0;

  border-radius: 10px;
  border-width: 7px;
  border-style: ridge;
  border-color:var(--main-color);
  }

/**********************************************************************
tekst main
***********************************************************************/

h2 {
  color:var(--white-color);
  display: flex;
  justify-content: center;

  font-size: 36px;
  }


h3 {
  color:var(--white-color);
  display: flex;
  justify-content: center;

  font-size: 30px;
}

h4 {
  color:var(--main-color);
  }

p {
  color:var(--white-color);
  font-size: 13px;
  }











/**********************************************************************
index.html main section
***********************************************************************/

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding:33px 0 0;
  }



.index main section {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color:var(--white-color);
  margin: 0;
  padding: 0;
  }


  .index main section article {
  overflow: hidden;
  }
  
  
 .index main section img {
  width: 100%;
  padding: 0;
  transition: 500ms;
}

.index main section img:hover{
transform: scale(1.2);
}


.index main section h2 {
  background-color:var(--dark-color);
  margin: 33px;
}  












/**********************************************************************
menukaart.html main section
***********************************************************************/

.menukaart main section {
 
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color:var(--white-color);
  margin: 0;
  padding: 0;
  }
  .menukaart main section article {
  overflow: hidden;
 }
  
  
 .menukaart main section img {
  width: 100%;
  padding: 0;
  transition: 500ms;
  }

.menukaart main section img:hover{
  transform: scale(1.2);
  }

.menukaart main section h2 {
  background-color:var(--dark-color);
  margin: 33px;
  }  



/*********************************************************************************************************************
eerste section menukaart.html
***********************************************************************************************************************/

.menukaart main section:first-of-type{
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color:var(--white-color);
  margin: 0;
  padding: 0;
 
  }

.menukaart main section:first-of-type h2{
  background-color:var(--dark-color);
  margin: 33px; 
  height: 50px;
  }

.menukaart main section:first-of-type img{
  padding: 0 0 33px;
  width: 100%;
  }



/*********************************************************************************************************************
tweede section menukaart.html
***********************************************************************************************************************/

.menukaart section:nth-of-type(2){
  background-color:var(--white-color);
  margin: 33px 0;
  }


.menukaart section:nth-of-type(2) h2{
  background-color:var(--dark-color);
  margin: 33px; 
  height: 50px;
  }

.menukaart section:nth-of-type(2) img{
  padding: 0 0 33px;
  width: 100%;
  }
/*********************************************************************************************************************
derde section menukaart.html
***********************************************************************************************************************/

.menukaart section:nth-of-type(3){
  background-color:var(--white-color);
  margin: 33px 0;
  }



.menukaart section:nth-of-type(3) h2{
  background-color:var(--dark-color);
  margin: 33px;
  height: 50px;
  }

.menukaart section:nth-of-type(3) img{
 
  padding: 0 0 33px;
  width: 100%;
  }











/**********************************************************************
list items
***********************************************************************/
ul {
  list-style:none;
  margin: 0 0 30px;
  padding: 0 30px 30px;
  }
  

li > p {
  color:var(--dark-color);
  }

main a {
  background-color:var(--main-color);
    
  color:var(--white-color);
  text-decoration: none;
  font-size: 16px;
  width:80px;
  height:25px;

  margin: 0px 33px 20px;
  

  text-align: center;
}










/******************************************************************************
button
*******************************************************************************/

.index main section + section {
  position: fixed;
  right: 10%;
  bottom: 5%;
  background-color: transparent;

  }

.index main section + section p {
  background-color:var(--white-color) ;
  color:var(--dark-color) ;
  padding: 20px 80px;
  border-radius: 20px;
  font-size: 20px; 
  transform: translateX(150%);

  animation-name: p-animatie; 
  animation-duration: 10s;
  animation-delay: 2s;  
  }

.index main section + section a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 60px;
  margin: 10px 25px 10px 0;
  text-align: center;

  border-radius: 50%;
  padding: 40px;

  animation-name: a-animatie; 
  animation-duration: 10s;
  animation-delay: 2s;
  transform: translateX(400%);  
  }


  @keyframes p-animatie {
    0%{
      transform: translateX(120%);   
    }
      
   30%, 70%{
      transform: translateX(0);
      opacity: 1;
   
      
    }
    100%{
      transform: translateX(0);
    opacity: 0;   
    }
  }

  @keyframes a-animatie {
    0%{
      transform: translateX(400%);   
      
    }
      
   30%, 70%{
      transform: translateX(0);
      opacity: 1;
      border-radius: 0;
      padding: 20px 40px;
   
      
    }
    100%{
      transform: translateX(400%);  
    }
  }









































/****************************************************************************************************************************************
Footer
*****************************************************************************************************************************************/
footer {
  padding: 0 33px;
  margin: 100px 0 ;
}

H5 {
  color:var(--main-color);
}

footer h2 {
  color:var(--dark-color);
  display: flex;
  justify-content: left;
}

footer p {
  color:var(--dark-color);
}
















