/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

/***
ROOT 
****/
:root {
--main-color:#d0a35d;
--dark-color:#0d272d;
--white-color:#ffffff;

}


body{
  position: relative;
  font-family: barlow condensed;
  position: relative;
}








/******
HEADER
******/

header {
  height: 412px;

  padding: 0 0 25px;
  margin: 0 0 50px;
}


header img.logo {
  max-width: 50px;
  height: 50px;
 
  padding: 0;
  margin: 0 auto;

  z-index: 100;
}


header img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  width: 100%;
  height: 675px;
  object-fit: cover;

  margin: 0;
  padding: 50px 0 0;

  z-index: -1;
  }


  nav button {
    position: absolute;
    top:5px;
    right:5px;

    width:5em;
    height:2.5em;

    background-color:var(--main-color);
    color:var(--white-color);

    appearance:none;  
    border:none;

    z-index: 5000;
  }


  nav ul {
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:30%;

    background-color:var(--dark-color) ;

    transform: translateX(110%);
    transition: .5s;  
    
    z-index:4000;
  }


  nav a {
    text-align: left;
    line-height: 20px;
    font-size: 13px;
    font-weight: bold; 
  }


  nav li{
    color:#A6A6A6;
  }


  nav li:hover{
    color:var(--white-color) ;
  }


  li.reserveerknop {
    text-align: center;

    height: 40px;
    margin: 30px 0 10px;

    background-color:var(--main-color) ;
    color:var(--white-color); 
  }


  nav button::before {
    content:"\2630 "; /* hamburger */
    display:inline-flex;
    justify-content:center;
    align-items:center;

    width:20px;
    height:20px;

    transform:scale(.75);
  }

  
  nav.toonMenu ul {
    transform:translatex(0);
  }

  /* code van Sanne via codepen -> https://codepen.io/alanaeastman/pen/VwWVdmG */
  

h1 {
  position: absolute;
  top: 200px;

  font-size: 48px;
  padding: 55px;
  margin: 0;

  color:var(--white-color);
  
  align-items: center;
  text-align: center;
  }
  

  header p {
  position: absolute;
  top:300px;
  right:90px;
  left: 90px;

  font-size: 16px;

  color:var(--white-color);
  }


  section:first-of-type{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;

  margin: 500px 0 0;  
  } 

  
  section:first-of-type a { 
  font-size: 16px;
  width:80px;
  height:25px;
  margin: 12.8px;

  background-color:var(--main-color);
  color:var(--white-color);
    
  text-align: center;
  text-decoration: none;
  }


  header a:first-of-type {
  background-color:var(--white-color);
  color:var(--dark-color);
  }










/***
MAIN
****/
main {
  background-color:var(--dark-color);
  padding: 50px 33px;
  margin: 400px 0 0;


  
}

h2 {
  color:var(--white-color);
  display: flex;
  justify-content: center;

  font-size: 36px;
  }


h3 {
color:var(--white-color);
  display: flex;
  justify-content: center;

  font-size: 30px;
}

h4 {
color:var(--main-color);
}

p {
color:var(--white-color);
font-size: 13px;
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding:33px 0 0;
  }




div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color:var(--white-color);
  }
  
div img {
  width: 100%;
  }
  
div h2 {
 color:var(--dark-color);
  }
  
ul {
  list-style:none;
  margin: 0;
  padding: 0 30px 30px;
  }
  

li > p {
  color:var(--dark-color);
  }
img.menukaart {
  width: 50%;

}

a {
  background-color:var(--main-color);
    
  color:var(--white-color);
  text-decoration: none;
  font-size: 16px;
  width:80px;
  height:25px;

  margin: 0px 33px 20px;
  

  text-align: center;
}






/*****
FOOTER
******/


footer {
  padding: 0 33px;
  margin: 100px 0 ;
 


}

H5 {
  color:var(--main-color);
}

footer h2 {
  color:var(--dark-color);
  display: flex;
  justify-content: left;
}
footer p {
  color:var(--dark-color);
}






















